
body {
    background-color: white;
    width: 1440px;
    height: 300px;
}

img {
   position: absolute;
   width: 300px;
   height: 450px;
   top: 15em;
   left: 33%;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

.border {
    z-index: -2;
    position: relative;
    height: 45em;
    background-color: rgba(160, 90, 24, 0.123);
    padding: 20px;
    top: 80px;
    left: 13em;
    width: 90em;
}

.rightborder {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 15em;
    left: 48.5%;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
}
.header {
    position: relative;
    text-align:left;
    top: 23px;
    left: 30px;
    line-height: 1.1;
}
footer {
    position: relative;
    text-align:left;
    top: 31px;
    left: 28px;
    line-height: 1.1;
    color: rgb(109, 107, 107);
    font-size: 14px;
    letter-spacing: 4.5px;
}
.textmiddle {
    position:relative;
    text-align:left;
    top: 25px;
    left: 30px;
    color: rgb(102, 100, 100);
    font-size: 15px;
}
.price {
    position: relative;
    text-align:left;
    top: 20px;
    left: 30px;
    color: rgba(12, 105, 12, 0.774);
    font-size: 30px;
}
.pricesize {
    position:relative;
    text-align:left;
    bottom: 39.5px;
    left: 57%;
    color: rgb(102, 100, 100);
    font-size: 14px;
    text-decoration: line-through;
}
a {
       position: relative;
        display: inline-block;
        padding:  10px 20px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: rgba(32, 88, 62, 0.849);
        border-radius: 5px;
        outline: none;
        width: 70%;
        height: 30px;
        left: 8%;
        bottom: 10px;
        cursor: pointer;
        pointer-events: fill;
}
a:link {
    color: white
  }
  
  /* visited link */
  a:visited {
    color: white
  }
  
  /* mouse over link */
  a:hover {
    background-color: hsla(149, 81%, 12%, 0.959);
  }
  
  /* selected link */
  a:active {
    background-color: hsla(149, 81%, 12%, 0.959);
  }